@font-face {
    font-family: duckhunt;
    src: fonts/duckhunt.ttf;
}
*{
  font-family: duckhunt;
}
body{
  margin: 0;
  background-color: black;
  background-image: url('images/background.png');
  cursor: crosshair;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 10px;
  height: 100%;
  /*background image properties*/
  background-repeat: repeat-x;
  background-attachment: fixed;
  /*background-position: 10px 10px 0px 0px;*/
  /*background image properties*/
}
#hud {
  width: 100%;
  position: absolute;
  z-index: 9999;
}
#alerts{
  margin-top: 80px;
  font-size: 48px;
  text-align: center;
  color: black;
  position: relative;
}
#playerOne{
  display: inline-block;
  margin-left: 15px;
  margin-top: 10px;
}
#playerTwo{
  display: inline-block;
  float: right;
  margin-right: 30px;
  margin-top: 10px;
}
.sky{
  height: 420px;
  width: 100%;
  /*background-color: blue;*/
  margin: 0 auto;
}
.ground{
  height: 150px;
  width: 100%;
  /*background-color: green;*/
  margin: 0 auto;
}
.box{
  display: inline;
  margin-left: 10px;
}
input{
  border-radius: 50px;
}
#start{
  width: 93px;
  height: 30px;
  text-align: center;
  background-color: orange;
}
#pause {
  width: 60px;
  height: 30px;
  background-color: red;
}
.dog{
  height: 120px;
  position: absolute;
}
#game-buttons{
  margin: 0 auto;
  height: 70px;
  width: 100%;
  background-color: black;
  text-align: center;
}
