body{
  cursor: crosshair;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#myImage{
  height: 55px;
}
.sky{
  height: 400px;
  width: 100%;
  background-color: blue;
}
.ground{
  height: 150px;
  width: 100%;
  background-color: green;
}
.box{
  display: inline;
  margin-left: 10px;
}
